<div class="col-md-8">
  <div class="row">
    <p>I am the about page. Content will appear here soon.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="well well-sm text-center">
    <p>I am a sidebar element</p>
  </div>
  <div class="well well-sm text-center">
    <p>I am another sidebar element</p>
  </div>
</div>