<div class="col-md-8">
  <div class="row">
    <p>I am the about page. This is content. Youre reading it. High five!</p>
    <p>This is a demo app which uses a stack of Rails 4, jQuery, Bootstrap, PostgreSQL, Puma, and Heroku. Two API endpoints are
      utilized to return gas price information to the user.  Once a day,
      the application checks when each state's regular unleaded gas price was last updated, and scrapes
      <a href="http://fuelgaugereport.aaa.com/import/display.php?lt=state" target="_blank">the aaa.com website</a> for
      updated information. This application's states are then updated, and you have the incredible pleasure of reading
      each state's regular unleaded gasoline per gallon price right here in your very own web browser.
    </p>
    <p>
      Site by <a href="http://techarchist.com/" target="_blank">Todd Morningstar</a> |
      <a href="https://github.com/stratigos" target="_blank">https://github.com/stratigos</a>
    </p>
  </div>
</div>
<div class="col-md-4">
  <div class="well well-sm text-center">
    <p>I am a sidebar element</p>
  </div>
  <div class="well well-sm text-center">
    <p>I am another sidebar element</p>
  </div>
</div>
