<div class="col-md-8">
  <div class="well well-sm text-center">
    <div class="page-header">
      <h1>Gas Prices</h1>
      <h4>View today's regular unleaded gas prices for each state in the USA.</h4>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="well well-sm text-center">
    <p>I am a sidebar element</p>
  </div>
  <div class="well well-sm text-center">
    <p>I am another sidebar element</p>
  </div>
</div>