<div class="col-md-8">
  <div class="row">
    <div class="well well-sm text-center">
      <div class="page-header">
        <h1>Gas Prices!</h1>
        <h4>View today's regular unleaded gas prices for each state in the USA.</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="state-input">Enter a US state:
        <span class="help-block">(full name, or postal abbreviation)</span>
      </label>
      <input type="text" class="form-control" id="state-input" placeholder="New York">
      <div class="voffset10"></div>
      <button type="button" class="btn btn-success">Get Gas!</button>
    </div>
    <div id="state-gas-price">
    </div>
    <hr />
    <div class="lead">
      <p>Gas Prices by State:</p>
    </div>
    <div id="all-gas-prices">
      <p>Loading Today's Gas Prices... (under construction)</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="well well-sm text-center">
    <p>I am a pretty sidebar element</p>
  </div>
  <div class="well well-sm text-center">
    <p>
      <img src="http://lorempixel.com/320/214/transport" class="img-responsive center-block" />
    </p>    
  </div>
  <div class="well well-sm text-center">
    <p>I am another sidebar element</p>
  </div>
</div>